
body {
    background-color: #330808; 
    color: #d4ff00; 
    font-family: Arial, sans-serif;
}

h1 {
    color: #0055ff; 
}

table {
    background-color: #600000; 
    border-collapse: collapse;
    width: 100%;
}

table td {
    padding: 10px;
    border: 1px solid #000000;
}

img {
    border-radius: 10px; 
}

a {
    color: #0080ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
